// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: $primary;
}

.navbar-btn {
  color: $white !important;
  background-color: none !important;
}

.navbar-btn-main {
  color: $white !important;
  background-color: $primary-dark !important;
}