// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: $logo-color;
}

.navbar-btn {
  color: $white !important;
  background-color: none !important;
  
  &:focus {
    color: $white !important;
    text-decoration: underline solid $white 2px;
    outline: none;
    box-shadow: none;
  }
}


.navbar-btn-main {
  color: $white !important;
  background-color: $primary !important;
}